option_settings:
  # Overrides the default WSGIPath setting to prevent EB from trying to run Gunicorn/Flask/Django.
  aws:elasticbeanstalk:container:python:
    WSGIPath: app.py 
  
  # Sets the expected PORT environment variable for the Procfile command
  aws:elasticbeanstalk:application:environment:
    PORT: 8080
